main {
    display: flex;
    flex-direction: column;
    margin-left: 10px;


    [id$=name] {
        width: 40%;
        margin-bottom: 15px;
    }

    button {
        width: 10%;
    }

    div {
        flex-direction: column;
    }


}

